*{
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: auto auto auto;
}

.Grand{
    border: solid red;
    height: 450px;
    grid-column: 2 / 3;
    border-collapse: collapse;
}

.Parent{
    border: solid green;
    border-collapse: collapse;
    width: 33.3333333%;
    height: 33.3333333%;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}